<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Food Detector</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="output.css" />
    <link
      rel="icon"
      href="./assets/Food-Detector-logos_black.png"
      type="image/x-icon"
    />
  </head>
  <body class="bg-primary text-center justify-center">
    <header class="flex justify-center">
      <img
        src="https://github.com/TylerGeorgeAlexander/food-detector/blob/main/assets/Food-Detector-logos_transparent.png?raw=true"
        alt="Food Detector Logo"
      />
    </header>
    <h1 class="text-3xl font-bold underline m-4">
      Please upload an image below:
    </h1>
    <!-- FORM -->
    <form action="/" enctype="multipart/form-data" method="post" class="m-4">
      <input
        type="file"
        name="file-to-upload"
        class="m-4 file-input file-input-bordered file-input-secondary w-full max-w-xs"
      />
      <input type="submit" value="Upload" class="m-4 btn btn-secondary" />
    </form>
    <p class="text-2xl font-bold m-4">We will try and detect if it is food.</p>
    <span class="text-xl m-4">We will list possible ingredients.</span>
    <footer class="m-4 p-4">&copy; Copyright 2022 Food Detector</footer>
  </body>
</html>
