<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Food Detector</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="output.css" />
    <link
      rel="icon"
      href="./assets/Food Detector-logos_black.png"
      type="image/x-icon"
    />
  </head>
  <body class="bg-primary text-center justify-center">
    <header class="flex justify-center">
      <img
        src="https://github.com/TylerGeorgeAlexander/food-detector/blob/main/assets/Food-Detector-logos_transparent.png?raw=true"
        alt="Food Detector Logo"
      />
    </header>
    <!-- FORM -->
    <form action="/" enctype="multipart/form-data" method="post" class="m-4">
      <input
        type="file"
        name="file-to-upload"
        class="m-4 file-input file-input-bordered file-input-secondary w-full max-w-xs"
      />
      <input type="submit" value="Upload" class="m-4 btn btn-secondary" />
    </form>
    <!-- Items Loop -->
    <h2 class="m-4 text-3xl font-bold">Possible Ingredients:</h2>
    <% for(let obj of objects){ %> <% if(obj.object !== "Food"){ %>
    <h3 class="m-4 text-xl font-bold"><%= obj.object %></h3>
    <% } %> <% } %>
    <hr />
    <!-- Image Logic  -->
    <% if(locals.count > 0) { %>
    <h2 class="m-4 text-3xl font-bold">You uploaded Food!</h2>
    <img src="<%= img%>" alt="Food" class="flex-col mx-auto" />
    <% }else { %>
    <h2 class="m-4 text-3xl font-bold">This is Not Food...</h2>
    <img src="<%= img%>" alt="Not Food" class="flex-col mx-auto" />
    <% } %>
    <footer class="m-4">&copy; Copyright 2022 Food Detector</footer>
  </body>
</html>
